{% extends 'main_app/base.html' %} 

{% load static %}

{%block file_css%}
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/clergy.css' %}" />
{%endblock file_css%}


{%block main_content%}
<div class="clergy">
    <h2 class="clergy-main-title">Духовенство</h2>
    <ul class="clergy__list">
        <a href="{% url 'clergyman' clergymanid=1 %}">    
            <li class="clergy__item">
                <div class="clergy__image"><img src="{% static 'main_app/images/clergyman.jpg' %}" alt=""/></div>
                <div class="clergy__content">
                    <h2 class="clergy__name">Протоієрей Іван Верескун</h2>
                    <p class="clergy__job-title">Клірик Благовіщенського храму міста Кропивницький</p>
                </div>
            </li>
        </a>
        <a href="{% url 'clergyman' clergymanid=2 %}">
            <li class="clergy__item">
                <div class="clergy__image"><img src="{% static 'main_app/images/clergyman.jpg' %}" alt=""/></div>
                <div class="clergy__content">
                    <h2 class="clergy__name">Протоієрей Іван Верескун</h2>
                    <p class="clergy__job-title">Клірик Благовіщенського храму міста Кропивницький</p>
                </div>
            </li>
        </a>
        <a href="{% url 'clergyman' clergymanid=3 %}">
            <li class="clergy__item">
                <div class="clergy__image"><img src="{% static 'main_app/images/clergyman.jpg' %}" alt=""/></div>
                <div class="clergy__content">
                    <h2 class="clergy__name">Протоієрей Іван Верескун</h2>
                    <p class="clergy__job-title">Клірик Благовіщенського храму міста Кропивницький</p>
                </div>
            </li>
        </a>
        <a href="{% url 'clergyman' clergymanid=4 %}">
            <li class="clergy__item">
                <div class="clergy__image"><img src="{% static 'main_app/images/clergyman.jpg' %}" alt=""/></div>
                <div class="clergy__content">
                    <h2 class="clergy__name">Протоієрей Іван Верескун</h2>
                    <p class="clergy__job-title">Клірик Благовіщенського храму міста Кропивницький</p>
                </div>
            </li>
        </a>
        <a href="{% url 'clergyman' clergymanid=5 %}">
            <li class="clergy__item">
                <div class="clergy__image"><img src="{% static 'main_app/images/clergyman.jpg' %}" alt=""/></div>
                <div class="clergy__content">
                    <h2 class="clergy__name">Протоієрей Іван Верескун</h2>
                    <p class="clergy__job-title">Клірик Благовіщенського храму міста Кропивницький</p>
                </div>
            </li>
        </a>
        <a href="{% url 'clergyman' clergymanid=6 %}">
            <li class="clergy__item">
                <div class="clergy__image"><img src="{% static 'main_app/images/clergyman.jpg' %}" alt=""/></div>
                <div class="clergy__content">
                    <h2 class="clergy__name">Протоієрей Іван Верескун</h2>
                    <p class="clergy__job-title">Клірик Благовіщенського храму міста Кропивницький</p>
                </div>
            </li>
        </a>
        <a href="{% url 'clergyman' clergymanid=7 %}">
            <li class="clergy__item">
                <div class="clergy__image"><img src="{% static 'main_app/images/clergyman.jpg' %}" alt=""/></div>
                <div class="clergy__content">
                    <h2 class="clergy__name">Протоієрей Іван Верескун</h2>
                    <p class="clergy__job-title">Клірик Благовіщенського храму міста Кропивницький</p>
                </div>
            </li>
        </a>
        <a href="{% url 'clergyman' clergymanid=8 %}">
            <li class="clergy__item">
                <div class="clergy__image"><img src="{% static 'main_app/images/clergyman.jpg' %}" alt=""/></div>
                <div class="clergy__content">
                    <h2 class="clergy__name">Протоієрей Іван Верескун</h2>
                    <p class="clergy__job-title">Клірик Благовіщенського храму міста Кропивницький</p>
                </div>
            </li>
        </a>
    </ul>
</div>
{%endblock main_content%}