{% extends 'main_app/base.html' %}
{% load static %}
{%block file_css%}
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/css/main.css' %}" />
{%endblock file_css%}


{%block main_content%}
        <div class="news">
        <h2 class="news__title">Останні новини Уманської Єпархії</h2>
        <ul class="news__tape">
            <li class="news-item">
            <div class="news-item__header">
                <span class="news-item__date-created">
                Неділя, 04 червня 2023
                </span>
                <div class="news-item__title">
                <a href="#"> День Святої Трійці. П'ятидесятниця </a>
                </div>
            </div>
            <div class="news-item__body">
                <div class="news-item__image">
                <a
                    href="#"
                    title="День Святої Трійці. П&amp;#039;ятидесятниця"
                >
                    <img
                    src="{% static 'main_app/images/1.jpg' %}"
                    alt="День Святої Трійці. П'ятидесятниця"
                    style="width: 250px; height: auto"
                    />
                </a>
                </div>
                <div class="news-item__intro-text">
                &nbsp; &nbsp;"Святым духом всяка душа живится" - співається
                на богослужінні. Зішестям Святого Духа затверджується в
                світі християнська віра і починає своє буття Церква
                Христова, тому свято П'ятидесятниці, день зішестя Святого…
                </div>
            </div>
            </li>

            <li class="news-item">
            <div class="news-item__header">
                <span class="news-item__date-created">
                Неділя, 04 червня 2023
                </span>
                <div class="news-item__title">
                <a href="#"> День Святої Трійці. П'ятидесятниця </a>
                </div>
            </div>
            <div class="news-item__body">
                <div class="news-item__image">
                <a
                    href="#"
                    title="День Святої Трійці. П&amp;#039;ятидесятниця"
                >
                    <img
                    src="{% static 'main_app/images/1.jpg' %}"
                    alt="День Святої Трійці. П'ятидесятниця"
                    style="width: 250px; height: auto"
                    />
                </a>
                </div>
                <div class="news-item__intro-text">
                &nbsp; &nbsp;"Святым духом всяка душа живится" - співається
                на богослужінні. Зішестям Святого Духа затверджується в
                світі християнська віра і починає своє буття Церква
                Христова, тому свято П'ятидесятниці, день зішестя Святого…
                </div>
            </div>
            </li>

            <li class="news-item">
            <div class="news-item__header">
                <span class="news-item__date-created">
                Неділя, 04 червня 2023
                </span>
                <div class="news-item__title">
                <a href="#"> День Святої Трійці. П'ятидесятниця </a>
                </div>
            </div>
            <div class="news-item__body">
                <div class="news-item__image">
                <a
                    href="#"
                    title="День Святої Трійці. П&amp;#039;ятидесятниця"
                >
                    <img
                    src="{% static 'main_app/images/1.jpg' %}"
                    alt="День Святої Трійці. П'ятидесятниця"
                    style="width: 250px; height: auto"
                    />
                </a>
                </div>
                <div class="news-item__intro-text">
                &nbsp; &nbsp;"Святым духом всяка душа живится" - співається
                на богослужінні. Зішестям Святого Духа затверджується в
                світі християнська віра і починає своє буття Церква
                Христова, тому свято П'ятидесятниці, день зішестя Святого…
                </div>
            </div>
            </li>
        </ul>

        <div class="pagination">
            <ul class="pagination-list">
            <li class="pagination-list_active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li><a href="#">Наступна</a></li>
            <li><a href="#">Кінець</a></li>
            </ul>
            <div class="clr"></div>
            Сторінка 1 із 392
        </div>
        </div>
        {%endblock main_content%}

        {%block sidebar_main%}
        <div class="sidebar-module">
            <h2 class="sidebar-module__title">Архієрей</h2>
            <div class="sidebar-module__content">
              <a href="https://www.google.com/">
                <img
                src="{% static 'main_app/images/arhierej.jpg' %}"
                alt="Високопреосвященніший Пантелеімон"
                />
              </a>
            </div>
          </div>
        {%endblock sidebar_main%}
